
@{
    ViewBag.Title = "Thanks";
}

<h2>Tack, @Model.Name, du är nu anmäld!</h2>

@*<a class="btn btn-default" href="~/Views/Home/People.cshtml">Tjo len vad händer jao</a>*@
<p>Hej! Anmäl dig @Html.ActionLink("här", "People").</p>

